button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    color: #ffffff;
    border: 0px;
    width: 100%;
}

.nav-icon:active {
    position: relative;
    top: 1px;
    filter: drop-shadow(0 2px 2px rgb(0 0 0 / 20%));
}

.link {
    max-height: 30px;
    border-radius: 15px;
}

.active {
    background-color: #da55db;
}

.nav-user-icon {
    padding-left: 10px;
    font-size: 30px;
}

.nav-cart-icon {
    padding-right: 10px;
    font-size: 25px;
}

.navbar {
    height: 30px;
    width: 330px;
    font-family: "Jura";
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}